body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181;
  -moz-user-select : none;-webkit-user-select: none;
}
h1{
  font-size:50px;
  font-family:微軟正黑體;
  font-weight:bold;
  color:#273f3c;
  position: absolute;
  left: 323px;
  top: 220px;
  z-index:5;

}
h2{
  font-family:微軟正黑體;
  font-size:25px;
  color:#48a397;
}
h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}
.btn3{
  width: 90px;
  height: 90px;
  border-radius: 100px;
  border:3px solid #48a397;
  background-color:white;
  outline:none;
  font-family:微軟正黑體;
  font-size:20px;
  font-weight:bold;
  color:#48a397;
  transition-duration: 0.3s;
}
.btn3:hover{
  border:3px solid #48a397;
  background-color:#48a397;
  outline:none;
  font-family:微軟正黑體;
  font-size:20px;
  font-weight:bold;
  color:white;
}

.img1{
  position: absolute;
  left: 200px;
  top: 350px;
  z-index:4;
  width:25%;
  height:25%;
}

.jumbotron {
  background-color: #f4511e;
  color: #fff;
  padding: 100px 25px;
  font-family: Montserrat, sans-serif;
}
.container-fluid {
  padding: 60px 50px;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
  color:  #fff;
}
.carousel-indicators li {
  border-color:  #fff;
}
.carousel-indicators li.active {
  background-color:  #fff;
}
.en1{
  font-family:微軟正黑體;
  color: #48a397;
  font-weight:bold;
}

.logo {
  font-size: 200px;
  color:#48a397;
}

.carousel-inner img {
  width: 100%;
  margin: auto;
}

.carousel-caption h3 {
  color: #48a397 !important;
}
.d1{
  font-family:微軟正黑體;
  color:#555555;
  font-weight:bold;
}

.d2{
  font-family:微軟正黑體;
  color:#48a397;
  font-size:30pt;
  font-weight:bold;
}

.d3{
  font-family:微軟正黑體;
  color:#48a397;
  font-size:35px;
  font-weight:bold;
}

.d4{
  font-family:微軟正黑體;
  color:#48a397;
  font-size:30px;
  font-weight:bold;
}

.d5{
  font-family:arial;
  color:#black;
  font-size:30px;
  font-weight:bold;
}


@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}

.bg-g{background-color:RGB(85,174,167,10%)}

.slideanim, .slideanim1, .slideanim2 {
  visibility:hidden;
}
.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

.indexLogo {
  color: #48a397!important;
}